:global(.ant-list-empty-text) {
    background-color: #fff;
    border-radius: 10px;
}

.list-item {
    margin: 12px 0;
    background-color: #fff;
    border-radius: 10px;
}

.show-all-btn {
    color: #008dff;
    padding: 0;
}