:global(.tui-editor-defaultUI-toolbar) {
  display: flex;
}

:global(.te-preview) {
  background: #fff;
}

:global(.tui-scrollsync.active),
:global(.tui-editor-defaultUI-toolbar .tui-toolbar-divider:nth-of-type(6)) {
  display: none !important;
}

.sider-menu {
  border-bottom: 1px solid #eee;
}

.sider-item {
  height: 72px !important;
  padding-left: 24px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
  margin: 0 !important;

  span {
    line-height: 20px !important;
    height: 20px !important;
  }
}

.return-home-btn {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;

  h4 {
    margin-bottom: 0 !important;
  }
}

.new-blog-btn {
  padding-left: 16px !important;
}

.content {
  display: flex;
  flex-direction: column;
}