:global(.tui-editor-defaultUI-toolbar) {
  display: flex;
}

:global(.te-preview) {
  background: #fff;
}

:global(.tui-scrollsync.active),
:global(.tui-editor-defaultUI-toolbar .tui-toolbar-divider:nth-of-type(6)) {
  display: none !important;
}


.new-blog-btn {
  padding-left: 16px !important;
}

.content {
  display: flex;
  flex-direction: column;
}