@import 'Assets/styles/var.scss';

.carousel {
    padding: 4vh;
    height: 20vh;
    text-align: center;
    background-color: $block-color;
    border-radius: 10px;

    h2 {
        color: $text-color;
    }
}