:global(.tui-editor-defaultUI-toolbar) {
  display: flex;
}

:global(.te-preview) {
  background: #fff;
}

:global(.tui-scrollsync.active),
:global(.tui-editor-defaultUI-toolbar .tui-toolbar-divider:nth-of-type(6)) {
  display: none !important;
}

// .input-title {
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
// }