@import '../../assets/styles/var.scss';

.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 1px solid $text_color;
}

.title {
    color: $text_color !important;
    margin-bottom: 0 !important;
}

.menu {
    width: $container_width;
    text-align: right !important;
    border-bottom: none;
}