@import 'Assets/styles/var.scss';

.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-left: 24px
}


.github {
    display: flex;
    position: absolute;
    top: 12px;
    right: -24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    transition: right 300ms;

    a {
        display: flex;
    }
}

@media screen and (min-height: 768px) {
    .container:hover .github {
        right: 12px;
    }
}

.header {
    display: flex;
    max-width: $container-width;
    width: 100%;

    // justify-content: space-between;
    // align-items: center;
}

.title {
    display: flex;
    align-self: center;
    margin-right: auto;
    color: $text_color !important;
    margin-bottom: 0 !important;
}

.menu {
    border-bottom: none;
    background-color: transparent !important;
}